
/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;

}
.tit{
    font-size: 25px;

}
.text-color{
    color:#cda45e;
}
.title_text{
    color: #bdb5b5;
    padding: -100px;
    font-size: 20px;;
}
.title_heading{
    color: #bdb5b5;
    padding: 100px;
    font-size: 50px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
    
}
.img-res{
    height:300px;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

img:hover{
    transform:scale(1.2);
    transition: all ease-in-out 0.3s;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: grey;
    text-decoration: none;
}
a:hover{
    color: #bdb5b5;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 20%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:500px;
    padding: 7% 0;
}

.head{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;

}

.food-search input[type="search"]{
    width: 50%;
    padding: 6%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    transition:0.5s all ease-in-out;
}

.box-3:hover{
    transform:scale(1.2);
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    

}

.food-menu-img:hover{
    transform:scale(1.2);
}

.food-menu-img{
    width: 20%;
    float: left;
    transition:0.5s all ease-in-out;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
    height:250px;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
/* Reservation*/

.bef_reserve{
    font-size: 20px;
    font-weight:bold;
    width:300px;
    height:300px;
    margin:auto;
    text-align: center;
    padding:280px;
}

.bg_reserve{
    background-image: url('../images/contact.jpg');
    height:800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}
.bg_reservee{
    background-image: url('../images/contact.jpg');
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

.res-menu{
    background-color: #0c0b09;
    padding: 4% 0;
}

.res-box{
    width: 350px;
    height:200px;
    margin: 2.5%;
    padding: 2%;
    float: left;
    border-radius: 15px;
    background-color:#1a1814;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
    transition: all ease-in-out 0.3s;

}

.res-box:hover{
    transform:scale(1.2);
}


.res-desc{
    width: 60%;
    float: left;
    margin-left: 8%;
}

.res-detail{
    font-size: 1rem;
    color:antiquewhite;
}

.date-box{
    width: 0%;
    padding: 40%;
    text-align: center;
    background-color:#1a1814;
}

.date{
    width:300px;
    height:50px;
}

/*reaveal*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  /*reservation form*/
  label{
    color:rgb(113, 70, 13);
    font-size:20px;
  }
  .input{
    width:350px;
    height:35px;
    color:whitesmoke;
  }

  input{
    background-color: #0c0b09;
    width:350px;
    height:35px;
    color:whitesmoke;
  }

  table,th,td{
    border:5px outset rgb(113, 70, 13);
    border-collapse: collapse;
    margin:auto;
  }

  th,td{
    padding:20px 100px 20px 100px;
  }